* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family:
        Noto Sans,
        sans-serif;
}

body.lock {
    overflow: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-ms-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/****||*******pc version*****\\\\\\\\*********/
/****||*******pc version*****\\\\\\\\*********/
/****||*******pc version*****\\\\\\\\*********/
/****||*******pc version*****\\\\\\\\*********/
.main__wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;

}
.content__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
/*? *****Language************/
.content__language__block {
    position: absolute;
    
    width: 226px;
    height: 226px;
    top: 0;
    right: 0;
    z-index: 4;
}
.language__circle__block{
    border: 4px solid rgba(14, 27, 71, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    right: -60px;
    z-index: 4;
}
.language__circle__block img {
    width: 100%;
}
.language__circle__small1{

    width: 30px;
    height: 30px;
    position: absolute;
    top: 47%;
    left: -8%;
    border-radius: 50%;
    z-index: 5;
    transition: ease-in 0.4s;
}
.language__circle__small1:hover{
    transform: scale(1.5);
}
.language__circle__small2{

    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 5%;
    left: 10%;
    border-radius: 50%;
    z-index: 5;
    transition: ease-in 0.4s;
}
.language__circle__small2:hover{
    transform: scale(1.5);
}
.language__circle__small3{

    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -7%;
    left: 50%;
    border-radius: 50%;
    z-index: 5;
    transform: scale(1.5);
    transition: ease-in 0.4s;
}
.language__circle__small3:hover{
    transform: scale(1.5);
}
/*? *****main content************/
.main__content__block {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;

}
.circle__wrapper{
    height: 700px;
    width: 700px;
    position: absolute; 
    bottom: -50%;
    left: calc(50% - 350px);
}
.main__content__circle__block{
    height: 700px;
    width: 700px;
    position: relative;

    bottom: 0;
    left: calc(50% - 350px);
    z-index: 3;
}
.green__circle__block{
    z-index: 2;
    top: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px rgba(101, 187, 153, 1) solid;
    border-radius: 50%;
    left: calc(50% - 25px);
    top: calc(0% - 25px);
}
.main__content__circle{

    height: 700px;
    width: 700px;
    position: absolute;
    border-radius: 50%;

    left: calc(50% - 350px);
    border: 5px solid rgba(14, 27, 71, 1);
    transition: ease-in 5s;

}
.main__content__circle__wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    transition: ease-in 5s;
    rotate: -180deg;
}

.circle__sub__block1{
    background-color: rgba(14, 27, 71, 1);
    border-radius: 50%;    
    width: 30px;
    height: 30px;
    position: absolute;
    top: -19px;
    left: calc(50% - 15px);
}
.circle__sub__block2{
    background-color: rgba(14, 27, 71, 1);
    border-radius: 50%;    
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(47.8%);
    right: -19px;
}
.circle__sub__block3{
    background-color: rgba(14, 27, 71, 1);
    border-radius: 50%;    
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(47.8%);
    left: -19px;
}
.circle__sub__block4{
    background-color: rgba(14, 27, 71, 1);
    border-radius: 50%;    
    width: 30px;
    height: 30px;
    position: absolute;
    top: 12%;
    left: 12%;
}
.circle__sub__block5{
    background-color: rgba(14, 27, 71, 1);
    border-radius: 50%;    
    width: 30px;
    height: 30px;
    position: absolute;
    top: 83px;
    left: 83.6%;
}
/*? *****main slider content************/
.main__slider__content {
    position: absolute;
    width: 100%;
    height: 100%;

}
/*? *****MAIN navigation block************/
.main__navigation__block {
    position: absolute;
    width: 200px;
    height: 55px;
    right: 5%;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__number {
    background-color: red;
    width: 30%;
    height: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main__number__img {
    position: absolute;
}
.main__number__p {
    position: absolute;
}
.main__number__p  {
    font-size: 28px;
    font-weight: 700;
}
.main__navigation__up {
}
/*? *****footer content************/
.footer__social__block {
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 90px;
    width: 280px;
    z-index: 4;
}
.footer__social__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}
.footer__social__img {
}
/****||*******768 version*****\\\\\\\\*********/
/****||*******768 version*****\\\\\\\\*********/
/****||*******768 version*****\\\\\\\\*********/
/****||*******768 version*****\\\\\\\\*********/